.skills-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto; 
    gap: 7em;
    padding: 4.5em 1.5em;
    justify-content: center;
    background-color: white;

    justify-content: center; 
    align-items: center; 
    width: fit-content; 
    margin: 0 auto; 
}

#main-page {
    background-color: white;
}


.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw; 
    height: 25vh;
    background: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    position: relative;
}


.skill-container img {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease-in-out;
}


.skill-container .skill-text {
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white; 
    text-align: center;
}


.skill-container:hover {
    background: #3498db; 
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 51, 102, 0.2);
}


.skill-container:hover img {
    display: none;
}

.skill-container:hover .skill-text {
    display: block;
}


@media (max-width: 900px) {
    .skills-page {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 450px) {
    .skills-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1.5em;
        justify-content: center;
    }

    .skill-container {
        width: 28vw; 
        height: 16vh; 

    }

   
    .skills-page .skill-container:nth-child(odd):last-child {
        grid-column: span 2; 
        justify-self: center; 
    }
}

